@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--text-color-main);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  color: var(--text-color-main);
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  /* вирівняє вдоль пеперечної осі */
  /* justify-content: space-between; */
}

.container.main-nav {
  position: relative;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .container.main-nav {
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}
.logo:hover {
  color: #757575;
}

.logo__text-brand {
  color: #2196f3;
}

.logo__text-brand:hover {
  color: #757575;
}

/* ul */
.site-nav {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 93px;
  list-style: none;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

/* li */
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.site-nav__link {
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current {
  position: relative;
  color: #2196f3;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ul */
.contact-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: auto;
  padding-left: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .contact-nav {
    display: none;
  }
}

/* Li */
.contact-nav__item {
  margin-top: 0;
}

.contact-nav__item:not(:last-child) {
  margin-left: 50px;
}

/* a */
.contact-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 30px;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
}

/* Icon svg*/
.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-widht: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  height: 200px;
  background-color: bisque;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: black;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}
@media screen and (min-widht: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.navigation,
.contacts {
  width: 40px;
  height: 40px;
  outline: 1px solid green;
}

.hero-section {
  text-align: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c4c4c4;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section .container {
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .hero-section .container {
    width: 100%;
    height: 400px;
    display: block;
    align-items: center;
    text-align: center;
  }
}

.hero-section__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hero-section__title {
    padding-top: 118px;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

/* Button */
.hero-section__button {
  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* min-width: 216; можно задавать, чтобы тект не вылазил за границы кнопок */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section__button:hover, .hero-section__button:focus {
  background-color: #ffffff;
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .hero-section__button {
    margin-bottom: 118px;
  }
}

.feature-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 479px) {
  .feature-section {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 480px;
    width: 100%;
  }
}

.feature-section .container {
  padding-bottom: 0;
}

/* title */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* li */
.feature-section__item {
  display: block;
  /* align-items: center; */
  /* justify-content: center; */
  width: 270px;
  height: 248px;
  margin-right: 30px;
}
@media screen and (max-width: 479px) {
  .feature-section__item {
    width: 480px;
    margin-right: 0;
  }
}

.feature-section__item:nth-child(4) {
  margin-right: 0;
}

.feature-section__picture {
  position: relative;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .feature-section__picture {
    width: 100%;
  }
}

.feature-section__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.feature-section__list {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 94px; */
}

.feature-section__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 479px) {
  .feature-section__title {
    display: block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.feature-section__descr {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.section-team {
  /* display: flex; */
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
@media screen and (max-width: 767px) {
  .section-team {
    display: block;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

.section-team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .section-team__title {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

/* ul */
.section-team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .section-team__list {
    display: block;
    max-width: 450px;
    width: 100%;
    align-items: center;
  }
}

/* li */
.section-team__item {
  width: 270;
  /* width: calc((100%-60px) / 3); */
  margin-right: 30px;
  margin-bottom: 0;
  padding: 0;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
@media screen and (max-width: 767px) {
  .section-team__item {
    max-width: 450px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }
}

.section-team__item:nth-child(4n) {
  margin-right: 0;
}

.section-team__photo {
  display: block;
}
@media screen and (max-width: 767px) {
  .section-team__photo {
    max-width: 450px;
    width: 100%;
    align-items: center;
  }
}

/* div */
.section-team__team-descr {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* h3-name */
.section-team__name {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

/* p-position */
.section-team__position {
  margin-top: 10px;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

/* ul - social icons */
.section-team__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
}

/* li */
.section-team__social-list-item {
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__social-list-item:nth-child(4) {
  margin-right: 0;
}

/* a */
.section-team__social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  /* background-color:pink; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team__social-list-link:hover, .section-team__social-list-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .section-clients {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    width: 100%;
    padding-top: 60px;
  }
}

.section-clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .section-clients__title {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

/* ul */
.section-clients__list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .section-clients__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
  }
}

/* li */
.section-clients__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .section-clients__item {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
  }
}

.section-clients__item:nth-child(6) {
  margin-right: 0;
}

/* a */
.section-clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link:hover, .section-clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
@media screen and (max-width: 767px) {
  .section-clients__link {
    width: 210px;
  }
}

/* svg */
.section-clients__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* transition: fill 250ms var(--timing-function); */
}

.section-clients__icon:nth-child(6) {
  margin-right: 0;
}

.section-work {
  padding-bottom: 94px;
}
@media (max-width: 479px) {
  .section-work {
    display: none;
  }
}

.section-work__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

/* UL */
.section-work__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

/* li */
.section-work__item {
  display: inline-block;
  width: 370px;
  height: 294px;
  position: relative;
  margin-right: 30px;
  padding: 0;
}

.section-work__item:last-child {
  margin-right: 0;
}

.section-work__photo {
  display: block;
}

.section-work__descr-position {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

.section-work__descr-position-text {
  margin-top: 27px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: flex-start;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-footer .container {
    display: block;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .page-footer .container {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.page-footer {
  background-color: #2f303a;
}

.page-footer__address {
  display: block;
  margin-top: 0;
  margin-left: 0;
  margin-right: 70px;
  width: 231px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-footer__address {
    display: block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .page-footer__address {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-left: 76px;
    margin-right: 0;
    max-width: 232px;
  }
}

/* Logo */
.logo__text-white {
  color: #ffffff;
}
.logo__text-white:hover {
  color: #757575;
}

.page-footer__address-link {
  margin-top: 28px;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-footer__address-link {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
.page-footer-nav__list {
  margin-top: 9px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0x;
  padding-left: 0;
  list-style: none;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-nav__link {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer-nav__link:hover, .page-footer-nav__link:focus {
  color: #2196f3;
}

.page-footer-nav__item:not(:first-child) {
  margin-top: 9px;
}

.page-footer-social-link {
  display: block;
  width: 206px;
  margin-right: 94px;
}
@media screen and (max-width: 767px) {
  .page-footer-social-link {
    display: block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    max-width: 450px;
  }
}

.page-footer-social-link__title {
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* UL */
.page-footer-social-link__list {
  display: flex;
  justify-content: center;
}

/* li */
.page-footer-social-link__item {
  margin-right: 10px;
}

.page-footer-social-link__item:nth-child(4) {
  margin-right: 0;
}

/* a */
.page-footer-social-link__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer-social-link__link:hover, .page-footer-social-link__link:focus {
  background-color: #2196f3;
}

.page-footer-submit {
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-footer-submit {
    display: block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

/* h3 */
.page-footer-submit__title {
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-footer-submit__title {
    display: block;
    align-items: center;
    max-width: 450px;
  }
}

.page-footer-submit__form {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-footer-submit__form {
    display: block;
    max-width: 450px;
  }
}

.page-footer-submit__label input {
  display: inline-block;
  margin: 0;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-footer-submit__label input {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.page-footer-submit__input:hover,
.page-footer-submit__input:focus {
  outline: none;
  border-color: #2196f3;
}

.page-footer-submit__label input::placeholder {
  margin: 12px;
  padding: 0;
  width: 47px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Button */
.button-submit {
  display: inline-flex;
  align-items: center;
  border: none;
  margin: 0;
  width: 200px;
  padding: 10px 28px 10px 28px;
  font: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
}
.button-submit:hover, .button-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-submit__image {
  margin-left: 10px;
  fill: #ffffff;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*UL- Navigation by page  */
.portfolio-page__nav {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 50px;
  list-style: none;
}

.portfolio-page__nav-btn {
  margin-right: 8px;
}

.portfolio-page__nav-btn:last-child {
  margin-right: 0;
}

.button-secondary {
  display: inline-block;
  text-align: center;
  padding: 6px 22px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #212121;
  background-color: #f5f4fa;
  /* border: 2px solid transparent; - прозрачная рамка если нужно */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover, .button-secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-page__work-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  /* justify-content: space-between; */
}

/* li */
.portfolio-page__work-item {
  width: 370px;
  /* width: calc((100%-60px) / 3); */
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-page__work-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-page__work-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

/* a */
.portfolio-page__work-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-page__work-link:hover, .portfolio-page__work-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* div to all card */
.portfolio-page__work-descr {
  /* display: block; */
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* h3 */
.portfolio-page__work-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

/* p  */
.portfolio-page__work-position {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* div overlay*/
.portfolio-page__product-thumb {
  display: block;
  width: 370px;
  /* overley */
  position: relative;
  overflow: hidden;
}

.portfolio-page__product-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  /* transform: scale(0.5); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.portfolio-page__work-link:hover .portfolio-page__product-overlay {
  transform: translateY(0);
  /* transform: scale(1); */
  opacity: 1;
}

.portfolio-page__product-overlay-descr {
  margin: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .backdrop {
    padding-left: 15px;
    padding-right: 15px;
    width: 480px;
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  /* дозволяє користуватися сторінкою під бекдропом */
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 0) scale(0.3);
  /* opacity: 0; */
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  visibility: visible;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}

/* абсолют позициіонується відносно всіх, хто не статік!!! */
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  /* щоб спозиціонувати іконку по центру */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  cursor: pointer;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Головнй надпис */
.modal-title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Label */
.form-label {
  display: block;
  margin-bottom: 10px;
}

/* Input */
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: #2196f3;
}

/* щоб іконка змінила колір додаєм + бо вона сусід для инпута*/
.form-input:focus + .input-form-icon {
  fill: #2196f3;
}

.modal-label-name {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

/* div - обгортка для позиціювання іконки але його не можна вкладати в лейбел, тому міняємо на спан*/
.input-wrapper {
  position: relative;
  display: block;
}

/* опис іконки */
.input-form-icon {
  position: absolute;
  /* спозиционувати по осі Y */
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Коментарі розділ */
/* textarea */
.comment-field {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-field:hover,
.comment-field:focus {
  outline: none;
  border-color: #2196f3;
}

/* Checkbox and Policy  */
.checkbox-form-fild {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Label */
.checkbox-conact-discr {
  /* position: absolute; */
  display: inline-block;
  align-items: center;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Input */
.checkbox-contact-form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* опис іконки чекбоксу */
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  fill: #000000;
  cursor: pointer;
}

.checkbox-contact-form:focus + .checkbox-icon {
  fill: #188ce8;
}

.checkbox-contact-form:checked + .checkbox-icon {
  background-image: url(../images/check-icon/icon\ check.svg);
  border-color: none;
}

/* сховали чекбокс від браузера */
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* a */
.label-policy {
  /* margin-left: 2px; */
  text-decoration-line: underline;
  color: #2196f3;
}

/* BUTTON submit  */
.submit-order {
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */