.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms $timing-function,
        visibility 250ms $timing-function;

        @media screen and (max-width: 479px) {
                padding-left: 15px;
                padding-right: 15px;
                // padding-bottom: 0;
                width: 480px;
                overflow-y: scroll;
            }
}

.backdrop.is-hidden {
    opacity: 0;
    /* дозволяє користуватися сторінкою під бекдропом */
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, 0) scale(0.3);
    /* opacity: 0; */
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 450px;
    height: 609px;

    padding: 40px;

    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    opacity: 1;
    visibility: visible;

    transition: transform 250ms $timing-function,
        visibility 250ms $timing-function;

        @media screen and (max-width: 479px) {
            position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
                width: 450px;
                height: 609px;

            }
}

/* абсолют позициіонується відносно всіх, хто не статік!!! */
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    /* щоб спозиціонувати іконку по центру */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;

    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    cursor: pointer;
    &:hover, &:focus {
        fill: $brand-color;
            transition: fill 250ms $timing-function;
    }
}
/* Головнй надпис */
.modal-title {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    color: $text-color-main;
}

/* Label */
.form-label {
    display: block;
    margin-bottom: 10px;
}

/* Input */
.form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $timing-function;
}

.form-input:focus {
    outline: none;
    border-color: $brand-color;
}

/* щоб іконка змінила колір додаєм + бо вона сусід для инпута*/
.form-input:focus+.input-form-icon {
    fill: $brand-color;
}

.modal-label-name {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: $text-color-gray;
}

/* div - обгортка для позиціювання іконки але його не можна вкладати в лейбел, тому міняємо на спан*/
.input-wrapper {
    position: relative;
    display: block;
    }

/* опис іконки */
.input-form-icon {
    position: absolute;
    /* спозиционувати по осі Y */
    top: 50%;
    transform: translateY(-50%);

    left: 12px;
    display: block;
    width: 18px;
    height: 18px;
    fill: $text-color-main;

    transition: fill 250ms $timing-function;
}

/* Коментарі розділ */
/* textarea */
.comment-field {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border-color 250ms $timing-function;
}

.comment-field::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.comment-field:hover,
.comment-field:focus {
    outline: none;
    border-color: $brand-color;
}

/* Checkbox and Policy  */

.checkbox-form-fild {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

/* Label */
.checkbox-conact-discr {
    /* position: absolute; */
    display: inline-block;
    align-items: center;
   
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;

    color: $text-color-gray;
}

/* Input */
.checkbox-contact-form {

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}

/* опис іконки чекбоксу */
.checkbox-icon {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    fill: $black;
    cursor: pointer;
}

.checkbox-contact-form:focus+.checkbox-icon {
    fill: $brand-btn-color;
}

.checkbox-contact-form:checked+.checkbox-icon {
    background-image: url(../images/check-icon/icon\ check.svg);
    border-color: none;
}

/* сховали чекбокс від браузера */
.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* a */
.label-policy {
    /* margin-left: 2px; */
    text-decoration-line: underline;
    color: $brand-color;
}

/* BUTTON submit  */
.submit-order {
    display: block;
    margin: 0 auto;
    align-items: center;
    padding: 10px 52px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    border-radius: 4px;
    border: none;

    color: $white;
    background-color: $brand-btn-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}