/* ul */
.contact-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 315px;
    padding-left: 0;
    list-style: none;

   
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    .contact-nav {
      display: block;
      width: 138px;
      margin-left: 96px;
      margin-top: 20px;
      margin-bottom: 20px;

    }
    
  }

 /* Li */
.contact-nav__item {
    margin-top: 0;
    @media (min-width: 768px) and (max-width: 1199px) {
      
    }
  }

  .contact-nav__item:not(:last-child){
    margin-left: 0;
    margin-right: 30px;

@media (min-width: 768px) and (max-width: 1199px) {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

  }

  /* a */
.contact-nav__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  
    text-decoration: none;
    color: $text-color-gray;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  
    // transition: color 250ms var(--timing-function);
    &:hover, &:focus {
        color: $brand-color;
    }
    @media (min-width: 768px) and (max-width: 1199px){
      font-size: 12px;
      line-height: calc(14 / 12);
      margin: 0;
      padding: 0;
            
    }
  }

  /* Icon svg*/
.contact-nav__icon {
   
    margin-right: 10px;
    fill: currentColor;

    @media (min-width: 768px) and (max-width: 1199px) {
      margin-right: 8px;
      
    }
  }
  .contact-nav__icon:first-child {
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 14px;
    }
  }

