.menu-button {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-widht: 768px) {
        display: none;
        
    }
}


.menu-button .icon-close {
    display: none;
}

.menu-button.is-open .icon-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
   
    height: 200px;

    background-color: bisque;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: black;
 
    
@media screen and (max-width: 767px) {
    display: none;
    position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        &.is-open {
            display: block;
  
}
}
@media screen and (min-widht: 768px){
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    
}
}

.navigation,
.contacts {
    width: 40px;
    height: 40px;
    outline: 1px solid green;
}