
.page-header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
  /* вирівняє вдоль пеперечної осі */
  /* justify-content: space-between; */
}
.container.main-nav {
  position: relative;
  padding-bottom: 0;

  // padding: 94px 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 479px) {
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    
  }
}
