.page-footer .container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-start;

    @media screen and (max-width: 479px) {
        display: block;
        max-width: 480px;
        align-items: center;

    }
}

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background-color;
}

.page-footer__address {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-right: 70px;
    width: 231px;
 }

/* Logo */
.logo__text-white {
    color: $white;
    &:hover {
        color: $text-color-gray;
    }
}

.page-footer__address-link {
    margin-top: 28px;
    color: $white;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    cursor: pointer;
}

.page-footer-nav__list {
    margin-top: 9px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0x;
    padding-left: 0;
    list-style: none;
    text-decoration: none;

    transition: color 250ms $timing-function;
}

.page-footer-nav__link {
    color: rgba(255, 255, 255, 0.6);
    &:hover, &:focus {
        color: $brand-color;
    }
}
.page-footer-nav__item:not(:first-child) {
    margin-top: 9px;
}