
.page-header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
  /* вирівняє вдоль пеперечної осі */
  /* justify-content: space-between; */
}
.container.main-nav {
  display: flex;
  align-items: center;

  
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 767px) {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 93px;

  }
@media (max-width: 768px) {
.menu {
display: none;
}
  

}