.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 480px) {
        padding: 0 15px;
            max-width: 480px;
            margin-top: 60px;
           
    
        }
}

.section-clients__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color-main;
}

/* ul */
.section-clients__list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    list-style: none;

    @media screen and (max-width: 479px) {
        display: flex;
            flex-wrap: wrap;
            max-width: 480px;
            margin: -15px;
            width: calc((100% - 2*15px)/2);
                  
        }
}

/* li */
.section-clients__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;

    @media screen and (max-width: 479px) {
        width: 480px;
        margin-right: 0;
    }
}

.section-clients__item:nth-child(6) {
    margin-right: 0;
}

/* a */
.section-clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: $icon-color;

    transition: fill 250ms $timing-function,
        border-color 250ms $timing-function;

        &:hover, &:focus {
            fill: $brand-color;
           border-color: $brand-color;
        }

                @media screen and (max-width: 479px) {
                    width: 210px;
                    
                }
}
/* svg */
.section-clients__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    /* transition: fill 250ms var(--timing-function); */
}

.section-clients__icon:nth-child(6) {
    margin-right: 0;
}